
@import '../../scss/variables.scss';


.checkout-success {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; 
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.checkOutSuccess-H1 {
  color: $color-dark-gray; 
  margin-bottom: 20px;
}

.checkOutSuccess-P {
  color: $color-brown; 
  margin-bottom: 20px;
}

a {
  display: inline-block;
  background-color: $color-yellow; 
  color: $color-brown;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;

  &:hover {
    background-color: darken($color-yellow, 10%); 
  }
}


@media (max-width: 768px) {
  .checkout-success {
    padding: 10px;
  }
}
