@import "variables";

.header {
  background-color: $color-cream;
  color: rgb(22, 21, 21); 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  padding: 1rem; 
}

.header nav {
  width: 100%; 
}

.header ul {
  list-style: none; 
  padding: 0; // Removes default padding
  margin: 0; // Removes default margin
  display: flex; // Using Flexbox
  justify-content: center; // Centers the list items horizontally
  flex-wrap: wrap; // Allows list items to wrap in smaller screens
}

.header li {
  margin: 0 1rem; // Adds horizontal spacing between list items
}

.header li a {
  color: rgb(17, 17, 17); // Styles the links in white
  text-decoration: none; // Removes underline from links
}

/* Responsive adjustments for smaller screens */
@media (max-width: 600px) {
  .header li {
    margin: 0.5rem 0; // Stack the items vertically with margin top and bottom
  }
}
